.Main_Layout_Container{
    border: 1px solid red;
    display: flex;
    width: 100%;
    /* height: 100vh; */
    aside{
        border: 1px solid orange;
        width: 400px;
    }

    main{
        border: 1px solid blue;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        /* padding: 5px; */
    }
}


.Content{
    border: 1px solid green;
    padding: 30px 0;
    width: 100%;
}

.filterItem{
    border: 1px solid red;

    ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
    }
}

.pricer{
    border: 1px solid red;
    /* width: 50%; */
}
